<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>

        <h1>Thank you! You have been signed up to the event!</h1>
        <p>See the information you gave us below.</p>
        <div id="signup_details"></div>
        <p>You can <a href="/login">login here</a> to view and edit your information</p>
        
    <script th:inline="javascript">
    /*<![CDATA[*/
        var el = "<ul><li>" + /*[[${param.name[0]}]]*/ + "</li>"
        el += "<li>" + /*[[${param.username[0]}]]*/ + "</li>";
        el += "<li>" + /*[[${param.email[0]}]]*/ + "</li>";
        el += "<li>" + /*[[${param.phone[0]}]]*/ + "</li>";
        el += "<li>" + /*[[${param.address[0]}]]*/ + "</li></ul>";
        document.getElementById('signup_details').innerHTML = el; 
    /*]]>*/
    </script>
    </body>
</html>
